* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ´open sans´, sans-serif;
} 

@import "header";
@import "maindehtml/section1";
@import "maindehtml/section2";
@import "maindehtml/section3";
@import "maindehtml/section4";
@import "maindehtml/section5";
@import "footer";
@import "mediaquerri";
